/*
* 
* @author Diego Carvalho
*/


html, body, #home {
    height: 100%;
}

body {
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, .5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-boder-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo{
    background: #7c26f8;
}

.btn-roxo:hover {
    background:#6207e3;
    color: white;
}

.btn-branco{
    border: 2px solid white;
}

.btn-branco:hover {
    background:white;
    color: black;
}

h1{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn-custom {
        margin: 10px 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 5em;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}